* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.top-nav {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #3D30A2;
    height: 196px;
}

.testimg {border-bottom:  2px white solid;}
.logo {
    height: 200px;
    width: 200px
}



.top-nav-list ul {
    list-style-type: none;
}

/* The CSS rule `.top-nav a` is targeting the anchor elements (`<a>`) that are descendants of elements
with the class `top-nav`. It is setting the `text-decoration` property to `none`, which means that
the anchor elements will not have any underlines or other decorations applied to them. */
.top-nav a {
    text-decoration: none;
    color: #D0B787;
}

.top-nav-list li {
    display: inline;
    margin: 0px;
    padding: 10px;
    align-items: center;
    
}

.list-hover:hover {
    background-color: #4b2e83;
    /* color: #D0B787; */
       
}


.protrait {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.horizontal {
    background-color: #f2f2f2;
    border: 0;
    margin: 0;
    height: 1px;

}

.blog-image {
    height: 112px;
    width: 112px;
}

.tags {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    border-color: transparent;
    background-color: black;
    color: white;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

/* The CSS rule `.website-image` is targeting an element with the class `website-image`. It is setting
the maximum width of the element to 70% of its parent container, allowing it to scale down if
necessary. The `height` property is set to `auto`, which means the height will adjust proportionally
based on the width. The `display` property is set to `block`, which means the element will be
displayed as a block-level element, taking up the full width available. The `margin` property is set
to `0 auto`, which centers the element horizontally within its parent container. */
.website-image {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.contacts {
    display: flex;
    align-items: center;
    overflow: hidden;

}

.contacts li {
    display: inline;
    margin: 0px;
    padding: 10px;
    align-items: center;
}

.footer {
    background-color: #3D30A2;
    color: white;
    border: 0px;
}

.footer a {
    color: white;
}

.footer p {
    text-align: center;
}

/* .mascot {
    border-radius: 50%;
    width: 20em;
    height: 20em;
} */


/* .footer {
    position: absolute;
    bottom: 0;
    width: 644px;
    height: 20px;
    margin: 0 auto;
    padding-bottom: 15px;
} */