* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.top-nav {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logo {
    height: 200px;
    width: 200px
}



.top-nav-list ul {
    list-style-type: none;
}

/* The CSS rule `.top-nav a` is targeting the anchor elements (`<a>`) that are descendants of elements
with the class `top-nav`. It is setting the `text-decoration` property to `none`, which means that
the anchor elements will not have any underlines or other decorations applied to them. */
.top-nav a {
    text-decoration: none;
}

.top-nav-list li {
    display: inline;
    margin: 0px;
    padding: 10px;
    align-items: center;
    
}

.list-hover:hover {
    background-color: #4b2e83;
    /* color: #D0B787; */
       
}

.list-hover a:hover {
    color: #D0B787;
}

.protrait {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.horizontal {
    background-color: #f2f2f2;
    border: 0;
    margin: 0;
    height: 1px;

}

.blog-image {
    height: 112px;
    width: 112px;
}

.tags {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    border-color: transparent;
    background-color: black;
    color: white;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}


/* .mascot {
    border-radius: 50%;
    width: 20em;
    height: 20em;
} */


/* .footer {
    position: absolute;
    bottom: 0;
    width: 644px;
    height: 20px;
    margin: 0 auto;
    padding-bottom: 15px;
} */